div {
  font-family: "Source Serif 4", serif;
}

.events-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
}

.events-header h1 {
  margin-right: auto;
}

.events-delete-btn {
  background-color: #91201a;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
}

.events-delete-btn-disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
}

.events-add-btn {
  background-color: #05208b;
  color: white;
  border: none;
  padding: 8px 16px;
}

.event-cell {
  font-weight: 500;
  color: black;
}

.cell {
  color: #464f60;
}

.MuiDataGrid-checkbox {
  border-radius: 4px;
}

#filterlabel {
  padding: 5px;
  font-weight: bold;
}

#filterRegion {
  padding: 5px;
  font-weight: bold;
}
