@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap");

.event-detail-container {
  display: flex;
  justify-content: center;
  padding-bottom: 71px;
}

.event-detail-content {
  border: 13px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin: 0 71px;
  width: calc(100% - 142px);
  padding: 16px 36px;
}

.event-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 40px;
  margin: 0;
  letter-spacing: 0.05em;
}

.event-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.event-detail-information-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0px 5px 0px;
  border: solid black 1px;
}

.event-card {
  border: solid black 1px;
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 15px;
}

.event-detail-table {
  width: 100%;
  border-spacing: 15px;
}

.event-label,
.event-data {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  color: #464f60;
  font-size: 16px;
  margin: 0;
}

.name-font {
  font-weight: 700px;
}

.event-card-font {
  font-size: 8px;
  font-weight: 600px;
}

.event-label.small {
  font-size: 14px;
}

.underline {
  border-bottom: solid black 1px;
}

.event-notes {
  background-color: #d9d9d94d;
  width: 60%;
  height: 20%;
  border-radius: 15px;
}

.PNAA_Logo {
  width: 72px;
  height: 72px;
}

.event-card-left {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 50%;
}

.event-card-right {
  text-align: right;
  align-items: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .event-header {
    font-size: 35px;
  }
}

/* Half screen width */
@media (max-width: 800px) {
  .event-detail-content {
    min-width: calc(100% - 80px);
    padding: 16px 20px;
  }

  .event-header {
    font-size: 30px;
  }

  .action-button-group .MuiButton-label {
    font-size: 12px;
  }

  /* Make info boxes vertical */
  .event-detail-information-container {
    flex-direction: column;
  }

  .event-detail-information-container-left,
  .event-detail-information-container-right {
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    padding: 16px;
    box-sizing: border-box;
  }
}
