@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap");

* {
  font-family: "Source Serif 4", serif;
}

.dialog-box-container {
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dialog-title {
  font-weight: 600;
  color: #464f60;
  font-size: 24px;
  letter-spacing: 0.04em;
  margin: 0;
}

.dialog-message {
  font-weight: "400";
  color: rgba(79, 79, 79, 0.7);
  font-size: 16px;
  letter-spacing: 0.04em;
  margin: 0;
}

.dialog-member-info {
  font-weight: "400";
  color: rgba(79, 79, 79, 0.9);
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0;
}

.dialog-actions {
  display: flex;
  gap: 20px;
}

.content {
  padding: 16px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Source Serif 4", serif;
}
