@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap");

.member-detail-container {
  display: flex;
  justify-content: center;
  padding-bottom: 71px;
}

.member-detail-content {
  border: 13px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin: 0 71px;
  width: calc(100% - 142px);
  padding: 16px 36px;
}
.membership-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 40px;
  margin: 0;
}

.membership-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.member-detail-information-container {
  display: flex;
  justify-content: space-between;
  margin: 0; 
}

.member-detail-information-container-left{
  border: solid black 1px;
  width: 509px;
  padding: 16px 36px;
}

.membership-card {
  border: solid black 1px;
  height: 134px;
  width: 234px;
}

.member-detail-table {
  width: 100%;
}

.membership-card-label-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 16px;
  margin: 0; 
}

.member-detail-information-container-right{
  border: solid black 1px;
  width: 671px;
  padding: 16px 36px;
}