@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap");

.member-detail-container {
  display: flex;
  justify-content: center;
  padding-bottom: 71px;
}

.member-detail-content {
  border: 13px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin: 0 71px;
  width: calc(100% - 142px);
  padding: 16px 36px;
}

.membership-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 40px;
  margin: 0;
}

.membership-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.member-detail-information-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0px 5px 0px;
}

.member-detail-information-container-left {
  border: solid black 1px;
  width: 509px;
  padding: 16px 36px;
  flex: 0 1 auto; /* Do not grow, allow shrink, flex-basis is auto */
  flex-basis: calc(
    509px / 1195 * 100%
  ); /* Set flex-basis to the proportion of box one */
  min-width: 150px; /* Allows the container to shrink below its content width */
  overflow-x: auto; /* Allows horizontal scrolling if content overflows */
}

.membership-card {
  border: solid black 1px;
  height: 134px;
  width: 234px;
}

.member-detail-table {
  width: 100%;
}

.membership-card-label-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 16px;
  margin: 0;
}

.member-detail-information-container-right {
  border: solid black 1px;
  width: 671px;
  padding: 16px 36px;
  flex: 0 1 auto; /* Do not grow, allow shrink, flex-basis is auto */
  flex-basis: calc(
    671px / 1180 * 100%
  ); /* Set flex-basis to the proportion of box two */
  min-width: 150px; /* Allows the container to shrink below its content width */
  overflow-x: auto; /* Allows horizontal scrolling if content overflows */
}

@media (max-width: 800px) {
  .member-detail-content {
    min-width: calc(100% - 80px);
    padding: 16px 20px;
  }

  .membership-header {
    font-size: 30px;
  }

  .action-button-group .MuiButton-label {
    font-size: 12px;
  }

  .member-detail-information-container {
    flex-direction: column;
  }

  .member-detail-information-container-left,
  .member-detail-information-container-right {
    width: 100%; /* Ensure both containers take the full width */
    min-width: 0; /* Override any min-width to prevent overflow */
    overflow-x: auto; /* Enable horizontal scrolling for overflow content */
    padding: 16px; /* Adjust padding if necessary */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
}
