.navTabs {
  width: "1100px";
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tabItem {
  display: inline-block;
}

.tabLink,
.activeTabLink {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 16px; /* Text size */
  background-color: #ffffff;
  color: #4f4f4f; /* Dark gray text color */
  border: 1px solid #ddd; /* Slight border for definition */
  border-radius: 5px; /* Slight rounding of corners */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.activeTabLink {
  background-color: #e0e0e0; /* Slightly darker background for the active tab */
  color: #000000; /* Black text color */
  border-bottom: none; /* Active tab appears connected to the content area */
}

.tabLink:hover {
  background-color: #d0d0d0; /* Slightly darker background on hover */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Add padding around the header */
}

.signOutButton {
  float: left;
  position: relative;
  padding: 5px 15px; /* Adjust padding as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  left: 30px;
}

.makeAccountButton {
  position: relative;
  padding: 5px 15px; /* Adjust padding as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  left: 40px;
}

.signOutButton:hover {
  background-color: #08529e; /* Darker red on hover */
}

.tabContent {
  padding-left: 40px; /* Padding on the left */
  padding-right: 40px; /* Padding on the right */
}
