.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Add padding around the header */
}

.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.paper {
  width: 80%;
  height: 500px;
  border: 4px solid #2264e550;
  overflow: auto;
}

.secondHeader {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0 40px;
  font-family: "Source-Serif 4", serif;
  border-bottom: 1px solid #e3e3e3;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 30px;
}

.muInput {
  font-size: 1rem !important;
  font-family: "Source-Serif 4", serif !important;
  margin: 5px 0 40px 0 !important;
  height: 20px !important;
  width: 350px;
}

.dateTime {
  margin-top: 10px !important;
}

.dateInput {
  width: 350px;
  border-radius: 5px;
  font-family: "Source-Serif 4", serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #bbb;
  outline: none;
}

.editButton {
  font-size: 1.1rem;
  font-family: "Source-Serif 4", serif;
}
.fileInput {
  font-size: 0.9rem;
  font-family: "Source-Serif 4", serif;
}
.uploadButton {
  margin-right: 10px;
}

.submitButton {
  cursor: pointer !important;
}

.saveImg {
  width: 28px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.primarySelect {
  font-size: 1rem !important;
  font-family: "Source-Serif 4", serif !important;
  height: 43px;
  width: 350px;
  margin: 5px 0 10px 0 !important;
}

.selectInput {
  font-size: 1rem !important;
  font-family: "Source-Serif 4", serif !important;
  height: 20px !important;
  width: 350px;
}

.tripleHeight {
  height: 100px !important;
  padding: 0px !important;
}

.formColumn {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.editInfo {
  margin-top: 10px;
}

.informationText {
  display: flex;
  align-items: center;
  font-family: "Source-Serif 4", serif;
}

.icon {
  width: 25px;
}

.fileDeleteRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.xButton {
  cursor: pointer;
  background: none;
  border: none;
}
