#container {
    box-shadow: 0px 4px 4px 4px #05208B80;
    position: fixed;
    top: 5%;
    left: 2%;
    width: 650px;
    height: 604px;
    font-size: 20px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    border: 1px solid #2264E559;
    z-index: 2;
    background-color: white;
}

#container h3 {
    font-weight: normal;
}

#dont {
    position: fixed;
    top: 70%;
    left: 16%;
    width: 357px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Source Serif 4', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.9px;
    color: #2264E5;
}

#login {
    position: fixed;
    left: 8%;
    height: 62px;
    width: 137px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Source-Serif 4', serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 61.6px;   
}

#email {
    position: fixed;
    top: 30%;
    left: 8%;
    border: 3px solid #99B0DD;
    width: 596px;
    height: 64px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(90deg, rgba(152, 175, 221, 0.21) 0%, rgba(217, 217, 217, 0.04) 100%);
    font-size: 20px;
}

#password {
    position: fixed;
    top: 48%;
    left: 8%;
    border: 3px solid #99B0DD;
    width: 596px;
    height: 64px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(90deg, rgba(152, 175, 221, 0.21) 0%, rgba(217, 217, 217, 0.04) 100%);
    font-size: 20px;
}

#loginbutton {
    width: 151px;
    height: 46px;
    padding: 6px 12px 6px 12px;
    gap: 8px;
    border-radius: 6px;
    opacity: 0px;
    position: fixed;
    top: 62.5%;
    left: 38%;
    background-color: #2264E5;
    color: white;
    font-size: 20px;
}

#error {
    position: fixed;
    top: 23%;
    left: 8%;
}

#showPassword {
    position: fixed;
    left: 8%;
    top: 60%;
    background: linear-gradient(90deg, rgba(152, 175, 221, 0.21) 0%, rgba(217, 217, 217, 0.04) 100%);
    width: 29px;
    height: 29px;
}

#passwordLabel {
    position: fixed;
    top: 61%;
    left: 11%;
    width: 110px;
    height: 19px;
    font-family: 'Source Serif 4', serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 19.19px;
}

#forgot {
    position: fixed;
    top: 41%;
    left: 60%;
    color: #91201A;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.42px;
    text-align: right;    
}

#logo {
    position: fixed;
    width: 590px;
    height: 590px;
    z-index: -1;
    max-width: calc(100% + 50px);
    opacity: 50%;
    transform: rotate(9.36deg);
    left: 50%;
    top: 5%;
}

#orgname {
    position: fixed;
    right: 1%;
    top: 0%;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.42px;
    text-align: right;
    color: #4F4F4F;
}

#mantra {
    position: fixed;
    right: 1%;
    top: 3%;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.42px;
    text-align: right;
}

.forgotPasswordTitle {
    margin-right: 39px;
    margin-top: 45px;
}

.titleIcon {
    margin-right: 39px;
}

.emailInstructions {
    font-size: 15px;
}

.lockIcon {
    margin-right: 39px;
}

.lockIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
    width: 134px;
    margin-left: 280px;
}

.lockIconStyle {
    color: black;
    font-size: 8rem;
}

.emailInput {
    width: 440px;
    margin-left: 40px;
    /* Add any other input-related styling here */
}

.submitButton {
    background-color: #2264E5; /* Blue color */
    color: white;
    /* Add any other button-related styling here */
}

.backToLogin {
    left: 40px;
    cursor: pointer;
    color: black;
    position: absolute;
    bottom: 120px;
    /* Add any other styling for the back to login text here */
}

