@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap");

.fundraiser-detail-container {
  display: flex;
  justify-content: center;
  padding-top: 71px;
  padding-bottom: 71px;
  height: 700px;
}

.fundraiser-detail-content {
  border: 13px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin: 0 71px;
  width: calc(100% - 142px);
  padding: 16px 36px;
}

.fundraiser-header {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #464f60;
  font-size: 40px;
  margin: 0;
  letter-spacing: 0.04em;
}

.fundraiser-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.fundraiser-detail-information-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0px 5px 0px;
}

.fundraiser-detail-information-container-left {
  border: solid black 1px;
  width: 70%;
  padding: 16px 36px;
  height: 460px;
  width: 420px;
  flex: 0 1 auto;
  flex-basis: calc(
    509px / 1195 * 100%
  ); /* Set flex-basis to proportion of left box */
  min-width: 150px;
  overflow-x: auto; /* Allows horizontal scrolling if content overflows */
}

.fundraiser-card {
  border: solid black 1px;
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 15px;
}

.fundraiser-detail-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 35px;
}

.fundraiser-label, 
.fundraiser-data {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  color: #464f60;
  font-size: 16px;
  margin: 0;
}

.name-font{
  font-weight: 700px;
}

.fundraiser-card-font{
  font-size: 8px;
  font-weight: 600px;
}

.fundraiser-label.small{
  font-size: 14px;
}



.underline{
  border-bottom: solid black 1px;
}

.member-notes{
  background-color: #D9D9D94D;
  width: 60%;
  height: 20%;
  border-radius: 15px;
}



.fundraiser-card-left{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width:50%;
}

.fundraiser-card-right{
  text-align: right;
  align-items: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
    position: fixed;
    width: 530px;
    height: 530px;
    z-index: -1;
    max-width: calc(100% + 50px);
    opacity: 90%;
    transform: rotate(9.36deg);
    left: 50%;
    top: 25%;
}

/* Half screen width */
@media (max-width: 800px) {
  .fundraiser-detail-content {
    min-width: calc(100% - 80px);
    padding: 16px 20px;
  }

  .fundraiser-header {
    font-size: 30px;
  }

  .action-button-group .MuiButton-label {
    font-size: 12px;
  }

  /* Make info boxes vertical */
  .fundraiser-detail-information-container {
    flex-direction: column;
  }

  .fundraiser-detail-information-container-left,
  .fundraiser-detail-information-container-right {
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    padding: 16px;
    box-sizing: border-box;
  }
}


.fundraising-header {
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    color: #464f60;
    font-size: 40px;
    margin: 0;
    letter-spacing: 0.05em;
  }
  
  .fundraising-header-input {
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    color: #464f60;
    font-size: 36px;
    margin: 0;
    letter-spacing: 0.05em;
  }
  
  .fundraising-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }